body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: rgb(44, 221, 44);
    color: white;
    padding: 20px;
    border: 5px rgb(30, 190, 51);
    border-style: solid;
}

.dropdown:hover .dropdownOptions {
    display: block;
}

.dropdownOptions {
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 160px;
    z-index: 1;
}
.dropdownOptions button {
    color: black;
    display: block;
    text-align: left;
}
.dropdown-content button:hover {
    background-color: #f1f1f1;
}

.clicked {
    color: #49ca53;
}